<div class="inner">
    <a title="" class="image" style="background-image: url('{{ imgSource }}');">
    	<span class="type {{type}}"></span>
    	<span class="placeholder">{{ fileTypeLabel }}</span>
    </a>

    <div class="caption">
        <h3>{{ title }}</h3>
        <p>{{ description }}</p>

        <div class="options-panel">
            <a href="{{ downloadURL }}" class="view-details">Download</a>
            <a href="#" class="delete-video"><span class="glyphicon glyphicon-trash"></span> Delete</a>
        </div>
    </div>
</div>
